os_auth_url            = "https://auth.cloud.ovh.net/v3"
os_username            = "twoj_user"
os_password            = "twoje_haslo"
os_user_domain_name    = "Default"
os_project_name        = "project-xxxxxx"
os_project_domain_name = "Default"

instance_region    = "GRA11"
instance_flavor    = "D2-4"
instance_image     = "Ubuntu 22.04 LTS"
network_name       = "MojaSiec"
external_network_name = "Ext-Net"

ssh_public_key_path  = "~/.ssh/id_rsa.pub"
ssh_private_key_path = "~/.ssh/id_rsa"

valheim_server_name = "Wojtek-Valheim"
valheim_world_name  = "PolskaPrzygoda"
valheim_password    = "123123"
ssh_allowed_cidr    = "0.0.0.0/0"
